/* Extra styles here */
.content {
    position: absolute !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100% !important;
    overflow:scroll !important;
    -webkit-overflow-scrolling:touch;
    background:#E0E0E0;
}

.card {
    float: center;
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:15px;
    overflow:hidden;
    width: 89%;
}

/* enough width for 2 columns */
@media screen and ( min-width: 500px ) {
  .card {
    width: 42.9%;
  }
}

/* enough width for 3 columns */
@media screen and ( min-width: 720px ) {
  .card {
    width: 28.5%;
  }
}

/* ---- desktop ---- */
@media screen and ( min-width: 1200px ) {
  .card {
    /* enough width for 4 columns */
    width: 22.3%;
  }
}

/* ---- desktop ---- */
@media screen and ( min-width: 1400px ) {
  .card {
    /* enough width for 4 columns */
    width: 22.3%;
  }
}

/* ---- widescreen ---- */
@media screen and ( min-width: 1600px ) {
  .card {
    /* enough width for 5 columns */
    width: 17.3%;
  }
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

.card-image {
    width:100%;
    min-height:100px;
    padding:0px;
    margin:0px;
    position:relative;
    overflow:hidden;
}

.card-image h1, .card-image h2, .card-image h3, .card-image h4, .card-image h5, .card-image h6 {
    position:absolute;
    bottom:3px;
    width:100%;
    color:white;
    background:rgba(0, 0, 0, 0.65);
    margin:0px;
    padding:6px;
    border:none;
}