/* Expand/Collapse Icons */
.expand-icon {
	/* Icon from http://icons8.com/ */
    background-image: url('../img/expand.png');
    height: 16px;
    width: 16px;
}

.collapse-icon {
	/* Icon from http://icons8.com/ */
    background-image: url('../img/collapse.png');
    height: 16px;
    width: 16px;
}

.hideOverflow {
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Card CSS */
.content {
    position: absolute !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100% !important;
    overflow:scroll !important;
    -webkit-overflow-scrolling:touch;
    background:#E0E0E0;
}

.card {
    float: center;
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:5px;
    margin:15px;
    overflow:hidden;
    width: 89%;
    max-width: 380px;
}

/* enough width for 2 columns */
@media screen and ( min-width: 520px ) {
  .card {
    width: 40.9%;
  }
}

/* enough width for 3 columns */
@media screen and ( min-width: 780px ) {
  .card {
    width: 27.5%;
  }
}

/* ---- desktop ---- */
@media screen and ( min-width: 1200px ) {
  .card {
    /* enough width for 4 columns */
    width: 21.3%;
  }
}

/* ---- widescreen ---- */
@media screen and ( min-width: 1900px ) {
  .card {
    /* enough width for 5 columns */
    width: 17.3%;
  }
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:-2px;
    padding:10px;
    color: #666;
}

.card h3 {
    margin:7px 0 2px 7px;
}

.card-image {
    width:100%;
    min-height:100px;
    padding:0px;
    margin:0px;
    position:relative;
    overflow:hidden;
}

.card-image h1, .card-image h2, .card-image h3, .card-image h4, .card-image h5, .card-image h6 {
    position:absolute;
    bottom:3px;
    width:100%;
    color:white;
    background:rgba(0, 0, 0, 0.65);
    margin:7px 0 2px 7px;
    padding:6px;
    border:none;
}